.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  gap: 7px 18px;
  align-items: center;
  padding-top: 30px;
}

.profile__edit-button {
  background: transparent url(../images/edit-button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px solid white;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__edit-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.2s ease-in-out;
}

.profile__image:hover + .profile__edit-icon {
  opacity: 1;
}

.profile__add-button {
  background: transparent url(../images/add-button.svg) center no-repeat;
  height: 50px;
  width: 150px;
  margin-left: auto;
  border: 2px solid white;
  cursor: pointer;
  margin-top: 36px;
}

.profile__add-button:hover {
  opacity: 0.6;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__description {
  font-size: 18px;
  max-width: 400px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__image {
  height: 120px;
  width: 120px;
  margin-right: 24px;
  object-fit: cover;
}

@media screen and (max-width: 710px) {
  .profile {
    flex-direction: column;
  }

  .profile__image {
    margin: 0;
  }

  .profile__title {
    font-size: 22px;
    max-width: 222px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    line-height: 26.63px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    font-size: 14px;
    max-width: 282px;
    margin-bottom: 36px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
  }

  .profile__add-button {
    height: 50px;
    width: 282px;
  }

  .profile__add-button {
    margin: 0;
  }
}
