@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/card.css");
@import url("../blocks/footer.css");
@import url("../blocks/header.css");
@import url("../blocks/page.css");
@import url("../blocks/profile.css");

@media screen and (max-width: 710px) {
  .profile {
    flex-direction: column;
  }

  .profile__image {
    margin: 0;
  }

  .profile__title {
    font-size: 22px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    font-size: 14px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
  }

  .profile__add-button {
    height: 50px;
    width: 282px;
  }

  .profile__add-button {
    margin: 0;
  }
}
